/* 
template.css
version 0.0
date 20-OCT-2020
*/

/* Important colours:
Red: 8d191c
Beige: debc78
White: ffeed4
*/
/* Sources:
https://www.onlygfx.com/27-grunge-brush-stroke-banner-png-transparent-vol-2/
*/
/* general stuff */
body {
    background-color: #ffeed4;
    text-align: center;
}

p {
    font-size: 20px;
    
}

* {
    font-family: "Architects Daughter", "Permanent Marker", "Tekton", "Comic Sans MS", Verdana, Arial;
}

p {
    width: 75%;
    margin-left: auto;
    margin-right: auto;}


/* Navigation Bar */
nav {
    background-color: #8d191c;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    }

nav table {
    margin: auto;
    text-align: center;  
    padding: 0.5em;
}

nav table tr th a {
    color: #debc78;
    text-decoration: none;
    font-size: 32px;
    text-align: center;
    padding: 0.3em 0.75em;
    
}
nav table tr th a:hover {
    background-color: #701417;
}

/* Footer */
footer {
    background-color: #8d191c;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    color: #debc78;
}

footer * {
    color: #debc78;
}

/* Special Stuff */
.brush {
    border: 20px solid;
    border-image: url(brush.png) 5% stretch;
}